.about_section-img {
  border-radius: 50%;
  overflow: hidden;
  transform: skew(15deg);
  transition: var(--transition);
}
.about_section-img:nth-child(2) {
  transform: skew(-15deg);
}
.about_section-img:hover {
  transform: skew(0);
}
.about_section-content h1 {
  margin-bottom: 2rem;
}
.about_section-content p {
  margin-bottom: 1rem;
}

.about_story-container,
.about_mission-container,
.about_vision-container {
  display: grid;
  place-items: center;
  grid-template-columns: 50% 50%;
  gap: 10%;
}

@media screen and (max-width: 1024px) {
  .about_section-img {
    width: 80%;
  }
  .about_section-content h1 {
    margin-bottom: 1.2rem;
  }
  .about_story-container,
  .about_mission-container,
  .about_vision-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .about_vision .about_section-img {
    grid-row: 1;
  }
}

@media screen and (max-width: 600px) {
  .about_section-img {
    width: 80%;
    margin-inline: auto;
  }
  .about_story-container,
  .about_mission-container,
  .about_vision-container {
    gap: 2rem;
  }
}
